.footer {
    width: 100%;
    background-color: #e1e1e1;
    color: black;
    /* padding: 2%; */
    height: 125px;
    text-align: center;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.socmed {
    cursor: pointer;
}